<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>
<div class="container main-container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <span class="text-muted">präsentiert von Lea Rieger und Markus Sosnowski</span>
      </div>

      <div class="col-sm-6">
        <span class="text-muted" style="font-size: 10px;">
          <i class="fa fa-copyright" aria-hidden="true"></i> Walinformationssystem, WALAUTOMAT, Waltoken und das Wal-Logo
        </span>
      </div>
    </div>
  </div>
</footer>

