<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
  <ngb-panel title="Überhangmandate der Parteien pro Bundesland">
    <ng-template ngbPanelContent>
      <table class="table">
        <thead>
        <tr>
          <th>Partei</th>
          <th>Bundesland</th>
          <th>Überhangmandate</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ueberhangsMandate of ueberhangsmandate$ | async">
          <td>{{ueberhangsMandate.partei.kuerzel}}</td>
          <td>{{ueberhangsMandate.bundesland.name}}</td>
          <td>{{ueberhangsMandate.ueberhangmandate}}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Knappster Sieger oder Verlierer">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-sm-10">
          <table class="table">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th>Partei</th>
              <th>Unterschied</th>
              <th>Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eintrag of knappsteSiegerFiltered">
              <td><img class="avatar-img" style="width: 25px;" src="/assets/avatar.jpg"></td>
              <td>{{eintrag.abgeordneter.titel || ''}}
                {{eintrag.abgeordneter.namneszusatz || ''}}
                {{eintrag.abgeordneter.vorname + ' ' + eintrag.abgeordneter.name}}</td>
              <td>{{eintrag.abgeordneter.partei.kuerzel}}</td>
              <td>{{eintrag.unterschied}}</td>
              <td>{{eintrag.siegerOderVerlierer}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2">
          <p><strong>Filter</strong></p>
          <table class="table table-hover table-sm">
            <tbody>
            <tr *ngFor="let partei of knappsterSiegerParteien">
              <td (click)="onClickPartei(partei)" style="cursor: pointer;">{{partei}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Vergleich der Frauenquote im Bundestag mit der aller Kandidaten">
    <ng-template ngbPanelContent>
      <p><code>Frauenquote der Direktkandidaten im Bundestag / Frauenquote aller Direktkandidaten = </code>{{frauenBonus$ | async | percent}}</p>

      <p>Ist der Wert kleiner als <var>{{1 | percent}}</var>, ist die Frauenquote bei Vergabe der Mandate gesunken, sonst gestiegen.</p>

      <div class="alert alert-warning" role="alert">
        Es sollte beachtet werden, dass dies zwar den Anschein erweckt, als hätten weibliche Direktkandidaten geringere Chancen, gewählt zu werden.
        Allerdings wird bei dieser Rechnung die Parteizugehörigkeit der Kandidaten außer Acht gelassen. Da Wähler ihre Stimme an konkrete Parteien und Personen
        vergeben, kann hier keine Aussage darüber gemacht werden, ob sich die Chance, gewählt zu werden, mit dem Geschlecht verändert.
      </div>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Gesamtergebnis der Erststimmen">
    <ng-template ngbPanelContent>
      <div *ngIf="erstStimmenData">
      <canvas baseChart
              [data]="erstStimmenData"
              [labels]="erstStimmenLabels"
              chartType="pie"></canvas>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Partei</th>
          <th></th>
          <th>Stimmen absolut</th>
          <th>Stimmen relativ</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let parteiMandat of erstStimmen$ | async">
          <td>{{parteiMandat.partei.kuerzel}}</td>
          <td>{{parteiMandat.partei.name}}</td>
          <td>{{parteiMandat.anzahlAbsolut}}</td>
          <td>{{parteiMandat.anzahlAbsolut / gesamtErst | percent}}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Gesamtergebnis der Zweitstimmen">
    <ng-template ngbPanelContent>
      <div *ngIf="zweitStimmenData">
      <canvas baseChart
              [data]="zweitStimmenData"
              [labels]="zweitStimmenLabels"
              chartType="pie"></canvas></div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Partei</th>
          <th></th>
          <th>Stimmen absolut</th>
          <th>Stimmen relativ</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let parteiMandat of zweitStimmen$ | async">
          <td>{{parteiMandat.partei.kuerzel}}</td>
          <td>{{parteiMandat.partei.name}}</td>
          <td>{{parteiMandat.anzahlAbsolut}}</td>
          <td>{{parteiMandat.anzahlAbsolut / gesamtZweit | percent}}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>


