<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Überhangsmandate der Parteien pro Bundesland
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>Partei</th>
            <th>Bundesland</th>
            <th>Überhangsmandate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ueberhangsMandate of ueberhangsmandate$ | async">
            <td>{{ueberhangsMandate.partei.kuerzel}}</td>
            <td>{{ueberhangsMandate.bundesland.name}}</td>
            <td>{{ueberhangsMandate.ueberhangmandate}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
