<div>
  <h2>Admin View - Tokens</h2>

  <select [(ngModel)]="wahlkreis" class="custom-select" (change)="wahlkreiseSelected()" title="Einen Wahlkreis auswählen">
    <option [value]="undefined">Wahlkreis auswählen</option>
    <option *ngFor="let wk of wahlkreise$ | async" [ngValue]="wk">{{wk.nummer}} - {{wk.name}}</option>
  </select>

  <br />
  <br />

  <div *ngIf="wahlkreis">
    <h4>Tokens für Wahlkreis {{wahlkreis.nummer}} ({{wahlkreis.name}})</h4>

    <button type="submit" class="btn btn-outline-primary"  (click)="handleGenerate()" >Generiere 10 neue Tokens</button>

    <br />
    <br />

    <ul class="list-group">
      <li *ngFor="let token of tokens$ | async" class="list-group-item"><s *ngIf="token.used">{{token.token}}</s><div *ngIf="!token.used">{{token.token}}</div></li>
    </ul>
  </div>
</div>
